SECRET_KEY=troque-por-uma-chave-longa-e-aleatoria
APP_DOMAIN=seu-dominio-oci
TRAEFIK_ACME_EMAIL=seu-email@dominio
CORS_ORIGINS=https://seu-dominio-oci
INIT_ADMIN_USERNAME=admin
INIT_ADMIN_PASSWORD=troque-por-uma-senha-forte
MYSQL_ROOT_PASSWORD=troque-por-uma-senha-forte
MYSQL_PASSWORD=troque-por-uma-senha-forte
